<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.user.username %>
</p>

<p>
  <strong>Comment entry:</strong>
  <%= @comment.comment_entry %>
</p>


<div class="btn btn-default"><%= link_to 'Edit', edit_comment_path(@comment) %></div> |
<div class="btn btn-default"><%= link_to 'Back', comments_path %></div>
