<p id="notice"><%= notice %></p>
<body class="wallpaper">
<center><h1>Posts</h1></center>
<div class="jumbotron">

  <div class="container">
    <div class="col-xs-2">
      <h4>Author</h4>
    </div>
    <div class="col-xs-9">
      <h4>Blog Post</h4>
    </div>
    <div class="col-xs-1">
      <h4>Options</h4>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="container">
      <div class="col-xs-2 author_name"><%= post.author %></div>
      <div class="col-xs-9 post"><%= post.blog_entry %></div>
      <div class="col-xs-1">
        <div class="col-xs-12 option">
          <%= link_to 'Show', post %>
        </div>
        <div class="col-xs-12 option">
          <%= link_to 'Edit', edit_post_path(post) %>
        </div>
        <div class="col-xs-12 option">  
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>


<%= link_to 'New Post', new_post_path %>

</div>
</body>
<br>

