<div class="wallpaper">
<div class="jumbotron">
	<p id="notice"><%= notice %></p>
	<div class="post">
	<p>
		<strong>Author:</strong>
		<%= @post.author %>
	</p>

	<p>
		<strong>Blog entry:</strong>
		<%= @post.blog_entry %>
	</p>
	<div><%=  link_to 'Edit', edit_post_path(@post) %></div>
	</div>
	
	<div class="container">
	<div id="comments">
		<div>
			<%= render 'comments/form', comment: @comment %>
		</div>
		<% @post.comments.each do |comment| %>
			<%= comment.author %><br>
			<div class="comment"><%= comment.comment_entry %></div>
		<% end %>
	</div>
	<div class="btn btn-default"><%= link_to 'Back', posts_path %></div>
	</div>
</div>
</div>